._*
.git
.idea
.idea/*
.phpintel
.DS_Store
.vscode/*
!.vscode/settings.json
backup/*.sql
composer.lock
public/*
!public/api
backup/*
public/index.php
public/index.html
public/resources/*
public/storage/course_materials/*
!public/storage/course_materials/index.html
public/storage/course-material-upload/*
!public/storage/course-material-upload/index.html
public/storage/student-material-upload/*
!public/storage/student-material-upload/index.html
public/storage/material-media-upload/*
!public/storage/material-media-upload/index.html
public/resources/uploads/*
backend/vendor
backend/vendor/*